In [42]:
import pandas as pd

# Implicit Hate

In [43]:
# Read Data 
df_implicit = pd.read_csv('/Users/arasdirekoglu/Documents/Studium/Master/HTW - MPMD/3. Semester/MPMD 3.4. Emerging Technologies & AI/01_Project/00_Data/implicit_hate_v1_stg1_posts.tsv', sep='\t', index_col=False)
df_implicit.head()

                                                post          class
0    " : jewish harvard professor noel ignatiev w...  implicit_hate
1   b.higher education is a part of european cult...       not_hate
2   has a problem with  " the whites " " and " " ...       not_hate
3   is yasir qadhi a hate preacher for calling ch...       not_hate
4   rt  " : how three million germans mass murder...       not_hate

In [44]:
# Save raw data as csv for further usage
df_implicit.to_csv('implicit_hate.csv')

In [45]:
# Transform Data for joining all data sources 
df_implicit = df_implicit.rename(columns={'post':'text', 'class':'label'})

# Check shape of data
df_implicit.shape

(21480, 2)

In [46]:
# Check value counts
df_implicit['label'].value_counts()

not_hate         13291
implicit_hate     7100
explicit_hate     1089
Name: label, dtype: int64

# Tweets - Offensive Language / Hate Speech

In [47]:
# Read & Display Data 
df_tweets = pd.read_csv('tweets_hatespeech.csv')
df_tweets.head()
# 0 - hate speech 1 - offensive language 2 - neither

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [48]:
# Transform Data for joining all data sources 
df_tweets = df_tweets[['tweet', 'class']]
df_tweets = df_tweets.rename(columns={'tweet':'text', 'class':'label'})

# Bring into same labels 
df_tweets['label'] = df_tweets['label'].astype(str)
df_tweets['label'] = df_tweets['label'].replace(str(0), 'explicit_hate')
df_tweets['label'] = df_tweets['label'].replace(str(1), 'offensive_language')
df_tweets['label'] = df_tweets['label'].replace(str(2), 'not_hate')

# Check shape of data
df_tweets.shape

(24783, 2)

In [49]:
# Check value counts
df_tweets.label.value_counts().sort_index() # 0 - hate speech 1 - offensive language 2 - neither

explicit_hate          1430
not_hate               4163
offensive_language    19190
Name: label, dtype: int64

# Whitesupremacist Forum / Hatespeech - No Hate Speech

In [50]:
# Read and display Data
df_ws = pd.read_csv('whitesupremacist_hatespeech.csv')
df_ws.head()

      file_id                                               text gSet   label
0  13458115_2            It 's like that at most public boards .  all  noHate
1  13367480_1  I wonder if one of the victims opened the door...  all  noHate
2  30422449_1  Some people believe the Jack O ' Lantern also ...  all  noHate
3  14651837_4                                  Ready .... GO !!!  all  noHate
4  30527903_3                                           Thanks !  all  noHate

In [51]:
# Transform Data for joining all data sources 
df_ws = df_ws[['text', 'label']]

# Bring into same labels 
df_ws['label'] = df_ws['label'].replace(str('noHate'), 'not_hate')
df_ws['label'] = df_ws['label'].replace(str('hate'), 'explicit_hate')
df_ws['label'] = df_ws['label'].replace(str('idk/skip'), 'unclear')

# Check shape of data
df_ws.shape

(10944, 2)

In [52]:
# Check value counts
df_ws.label.value_counts()

not_hate         9507
explicit_hate    1196
relation          168
unclear            73
Name: label, dtype: int64

In [53]:
# Join all sources

In [54]:
# Join all sources 
df_all = pd.concat([df_ws, df_implicit, df_tweets], ignore_index=True)

# Check shape of final data 
df_all.shape

(57207, 2)

In [55]:
# Check frequency of labels 
df_all.label.value_counts()

not_hate              26961
offensive_language    19190
implicit_hate          7100
explicit_hate          3715
relation                168
unclear                  73
Name: label, dtype: int64

In [16]:
# Save as csv for further usage 
df_all.to_csv('alldata.csv')

In [56]:
df_all[df_all['label'] == 'explicit_hate']

                                                    text          label
18     I would not be surprised if this woman was spe...  explicit_hate
19     If they were jew pieces of garbage who the hel...  explicit_hate
42     Put that fat Black idiot to work and she would...  explicit_hate
50     I know exactly what you 're saying , I just ha...  explicit_hate
69     I am White and I believe all White people know...  explicit_hate
...                                                  ...            ...
57000                this guy is the biggest faggot omfg  explicit_hate
57109  which one of these names is more offensive kik...  explicit_hate
57175         you a pussy ass nigga and I know it nigga.  explicit_hate
57200                                 you're all niggers  explicit_hate
57201  you're such a retard i hope you get type 2 dia...  explicit_hate

[3715 rows x 2 columns]