In [72]:
import pandas as pd

# Implicit Hate

In [73]:
# Read Data 
df_implicit = pd.read_csv('/Users/arasdirekoglu/Documents/Studium/Master/HTW - MPMD/3. Semester/MPMD 3.4. Emerging Technologies & AI/01_Project/00_Data/implicit_hate_v1_stg1_posts.tsv', sep='\t', index_col=False)
df_implicit.head()

                                                post          class
0    " : jewish harvard professor noel ignatiev w...  implicit_hate
1   b.higher education is a part of european cult...       not_hate
2   has a problem with  " the whites " " and " " ...       not_hate
3   is yasir qadhi a hate preacher for calling ch...       not_hate
4   rt  " : how three million germans mass murder...       not_hate

In [74]:
# Save raw data as csv for further usage
df_implicit.to_csv('implicit_hate.csv')

In [75]:
# Transform Data for joining all data sources 
df_implicit = df_implicit.rename(columns={'post':'text', 'class':'label'})

# Check shape of data
df_implicit.shape

(21480, 2)

In [76]:
# Check value counts
df_implicit['label'].value_counts()

not_hate         13291
implicit_hate     7100
explicit_hate     1089
Name: label, dtype: int64

In [77]:
# Examples explicit_hate 
df_implicit[df_implicit['label'] == 'explicit_hate'].head(10)

                                                  text          label
8     rt crooked hillary you didn't lose because yo...  explicit_hate
9     rt estonian pm :  " i don't want blacks in es...  explicit_hate
34   are a bunch of religious bigots . i hope you e...  explicit_hate
45   hamas is the only one who lies and all those l...  explicit_hate
65   one of the questions never asked : if africans...  explicit_hate
73   the biggest racist in uk politics - diane i ha...  explicit_hate
75   the uncultured and uncivilized men from cental...  explicit_hate
90   your ugly white cis male scum . your what's wr...  explicit_hate
98     " by the quran  we will kill you all  you fa...  explicit_hate
164   this is lame  where's the creativity ? and wh...  explicit_hate

In [83]:
sample_implicit = df_implicit[df_implicit['label'] == 'not_hate'].sample(n=100, random_state=4)
sample_implicit.to_csv('sample_implicit.csv')

# Tweets - Offensive Language / Hate Speech

In [78]:
# Read & Display Data 
df_tweets = pd.read_csv('tweets_hatespeech.csv')
df_tweets.head()
# 0 - hate speech 1 - offensive language 2 - neither

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [79]:
# Transform Data for joining all data sources 
df_tweets = df_tweets[['tweet', 'class']]
df_tweets = df_tweets.rename(columns={'tweet':'text', 'class':'label'})

# Bring into same labels 
df_tweets['label'] = df_tweets['label'].astype(str)
df_tweets['label'] = df_tweets['label'].replace(str(0), 'explicit_hate')
df_tweets['label'] = df_tweets['label'].replace(str(1), 'offensive_language')
df_tweets['label'] = df_tweets['label'].replace(str(2), 'not_hate')

# Check shape of data
df_tweets.shape

(24783, 2)

In [49]:
# Check value counts
df_tweets.label.value_counts().sort_index() # 0 - hate speech 1 - offensive language 2 - neither

explicit_hate          1430
not_hate               4163
offensive_language    19190
Name: label, dtype: int64

# Whitesupremacist Forum / Hatespeech - No Hate Speech

In [50]:
# Read and display Data
df_ws = pd.read_csv('whitesupremacist_hatespeech.csv')
df_ws.head()

      file_id                                               text gSet   label
0  13458115_2            It 's like that at most public boards .  all  noHate
1  13367480_1  I wonder if one of the victims opened the door...  all  noHate
2  30422449_1  Some people believe the Jack O ' Lantern also ...  all  noHate
3  14651837_4                                  Ready .... GO !!!  all  noHate
4  30527903_3                                           Thanks !  all  noHate

In [51]:
# Transform Data for joining all data sources 
df_ws = df_ws[['text', 'label']]

# Bring into same labels 
df_ws['label'] = df_ws['label'].replace(str('noHate'), 'not_hate')
df_ws['label'] = df_ws['label'].replace(str('hate'), 'explicit_hate')
df_ws['label'] = df_ws['label'].replace(str('idk/skip'), 'unclear')

# Check shape of data
df_ws.shape

(10944, 2)

In [52]:
# Check value counts
df_ws.label.value_counts()

not_hate         9507
explicit_hate    1196
relation          168
unclear            73
Name: label, dtype: int64

# Join all sources

In [54]:
# Join all sources 
df_all = pd.concat([df_ws, df_implicit, df_tweets], ignore_index=True)

# Check shape of final data 
df_all.shape

(57207, 2)

In [55]:
# Check frequency of labels 
df_all.label.value_counts()

not_hate              26961
offensive_language    19190
implicit_hate          7100
explicit_hate          3715
relation                168
unclear                  73
Name: label, dtype: int64

In [16]:
# Save as csv for further usage 
df_all.to_csv('alldata.csv')

In [56]:
df_all[df_all['label'] == 'explicit_hate']

                                                    text          label
18     I would not be surprised if this woman was spe...  explicit_hate
19     If they were jew pieces of garbage who the hel...  explicit_hate
42     Put that fat Black idiot to work and she would...  explicit_hate
50     I know exactly what you 're saying , I just ha...  explicit_hate
69     I am White and I believe all White people know...  explicit_hate
...                                                  ...            ...
57000                this guy is the biggest faggot omfg  explicit_hate
57109  which one of these names is more offensive kik...  explicit_hate
57175         you a pussy ass nigga and I know it nigga.  explicit_hate
57200                                 you're all niggers  explicit_hate
57201  you're such a retard i hope you get type 2 dia...  explicit_hate

[3715 rows x 2 columns]

# Neutral Dataset

In [101]:
df_gabhate = pd.read_csv('GabHateCorpus_annotations.tsv',sep='\t')
#df_neutral = df_neutral[df_neutral['Hate']== 0]
#df_neutral = df_neutral[df_neutral['VO']== 0]
df_neutral = df_gabhate.drop(['Annotator'], axis=1)
#df_neutral.shape
df_neutral.head()

,ID,Text,Hate,HD,CV,VO,REL,RAE,SXO,GEN,IDL,NAT,POL,MPH,EX,IM
0,27044,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27044,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,27044,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27044,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27045,Get the new Android app update released today ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_neutral.shape

(86529, 16)

In [103]:
# Group by ID to find entries where all annotators agreed it is no hate and no offensive  
df_n_hohate = df_neutral.groupby(['ID'], as_index=False)['Hate', 'VO'].mean()
df_n_hohate.describe()

/var/folders/bs/ht_t1wp94tl3wt5xhchcxq2m0000gn/T/ipykernel_46805/2165255049.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_n_hohate = df_neutral.groupby(['ID'], as_index=False)['Hate', 'VO'].mean()

                 ID          Hate           VO
count  27665.000000  27665.000000  27665.00000
mean   13832.000000      0.128931      0.08314
std     7986.341935      0.234616      0.19840
min        0.000000      0.000000      0.00000
25%     6916.000000      0.000000      0.00000
50%    13832.000000      0.000000      0.00000
75%    20748.000000      0.333333      0.00000
max    27664.000000      1.000000      1.00000

In [104]:
df_n_hohate_pure = df_n_hohate[(df_n_hohate['Hate']==0) & (df_n_hohate['VO']==0) ]
df_n_hohate_pure.shape

(18612, 3)

In [105]:
# Define a to keep variable to filter in the next step 
to_keep = df_n_hohate_pure['ID']
df_neutral = df_neutral[df_neutral['ID'].isin(to_keep)]
df_neutral = df_neutral.drop_duplicates(keep='first') 
df_neutral.shape

(18612, 16)

In [106]:
# Head
df_neutral.head()

,ID,Text,Hate,HD,CV,VO,REL,RAE,SXO,GEN,IDL,NAT,POL,MPH,EX,IM
0,27044,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27045,Get the new Android app update released today ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,27046,Study: Google Pushes Liberal News in Top 5 Sea...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,27050,The Belgium government is demanding that Gab r...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,27051,"“Therefore, since we are surrounded by so grea...",0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df_neutral.to_csv('neutral_entries.csv')

In [118]:
### df 
df_gh_implicit = df_gabhate.drop(['Annotator'], axis=1)
df_hate_implicit = df_gh_implicit.groupby(['ID'], as_index=False)['Hate', 'EX', 'IM'].mean()
df_hate_implicit_pure = df_hate_implicit[(df_hate_implicit['Hate']>0.5) & (df_hate_implicit['IM']>0.5) ]

/var/folders/bs/ht_t1wp94tl3wt5xhchcxq2m0000gn/T/ipykernel_46805/1872345049.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_hate_implicit = df_gh_implicit.groupby(['ID'], as_index=False)['Hate', 'EX', 'IM'].mean()

In [119]:
df_hate_implicit_pure.shape

(288, 4)