In [85]:
import pandas as pd
import numpy as np

# 1 EDA

## 1.1 Dataset implicit-hate

In [16]:
df_explicit_implicit = pd.read_csv('dataset/implicit-hate-corpus/implicit_hate_v1_stg1_posts.tsv',delimiter='\t')

In [17]:
df_explicit_implicit

                                                    post          class
0        " : jewish harvard professor noel ignatiev w...  implicit_hate
1       b.higher education is a part of european cult...       not_hate
2       has a problem with  " the whites " " and " " ...       not_hate
3       is yasir qadhi a hate preacher for calling ch...       not_hate
4       rt  " : how three million germans mass murder...       not_hate
...                                                  ...            ...
21475  Seeing prostitutes is morally wrong, but being...  implicit_hate
21476  I wonder how many females I raped today I spen...  implicit_hate
21477  Having a criminal record is more attractive to...  implicit_hate
21478  Another advantage of being a female: getting b...  implicit_hate
21479  If men are so privileged and women have it so ...  implicit_hate

[21480 rows x 2 columns]

In [47]:
df_explicit_implicit['class'].value_counts()

not_hate         13291
implicit_hate     7100
explicit_hate     1089
Name: class, dtype: int64

## 1.2 Dataset hate-speech-and-offensive-language/

In [2]:
df_hate_n_offensive = pd.read_csv('dataset/hate-speech-and-offensive-language/labeled_data.csv')
df_hate_n_offensive = df_hate_n_offensive[['tweet','class']]

In [6]:
df_hate_n_offensive

                                                   tweet  class
0      !!! RT @mayasolovely: As a woman you shouldn't...      2
1      !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2      !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3      !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4      !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1
...                                                  ...    ...
24778  you's a muthaf***in lie &#8220;@LifeAsKing: @2...      1
24779  you've gone and broke the wrong heart baby, an...      2
24780  young buck wanna eat!!.. dat nigguh like I ain...      1
24781              youu got wild bitches tellin you lies      1
24782  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...      2

[24783 rows x 2 columns]

In [10]:
df_hate_n_offensive['class'].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64

## 1.3 Dataset neutral-speech

In [41]:
df_neutral = pd.read_csv('dataset/neutral-dataset/GabHateCorpus_annotations.tsv', delimiter='\t')

In [42]:
df_neutral.head()

,ID,Annotator,Text,Hate,HD,CV,VO,REL,RAE,SXO,GEN,IDL,NAT,POL,MPH,EX,IM
0,27044,4,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27044,15,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,27044,10,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27044,8,Ah the PSYOPS antifa crew is back. That’s how ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27045,4,Get the new Android app update released today ...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_neutral.groupby(['Hate','HD','CV','VO']).count()
# VO=1 when Hate=0 is an exception

                  ID  Annotator   Text   REL   RAE   SXO   GEN   IDL   NAT  \
Hate HD CV VO
0    0  0  0   22566      22566  22566     0     0     0     0     0     0
           1    1102       1102   1102     0     0     0     0     0     0
1    0  1  0     143        143    143   143   143   143   143   143   143
           1      65         65     65    65    65    65    65    65    65
     1  0  0    1889       1889   1889  1889  1889  1889  1889  1889  1889
           1    1785       1785   1785  1785  1785  1785  1785  1785  1785
        1  0      48         48     48    48    48    48    48    48    48
           1      67         67     67    67    67    67    67    67    67

                POL   MPH    EX    IM
Hate HD CV VO
0    0  0  0      0     0     0     0
           1      0     0     0     0
1    0  1  0    143   143   143   143
           1     65    65    65    65
     1  0  0   1889  1889  1889  1889
           1   1785  1785  1785  1785
        1  0     48    48    48    48
           1     67    67    67    67

# Combined dataset

#### DS 1 implicit

In [171]:
df_explicit_implicit = pd.read_csv('dataset/implicit-hate-corpus/implicit_hate_v1_stg1_posts.tsv',delimiter='\t')
df_explicit_implicit.rename(columns={'post':'text'}, inplace=True)


df1_explicit = df_explicit_implicit[df_explicit_implicit['class']=='explicit_hate']
df1_implicit = df_explicit_implicit[df_explicit_implicit['class']=='implicit_hate']
df1_nohate = df_explicit_implicit[df_explicit_implicit['class']=='not_hate']
df1_nohate['class']='not_hate'


print(df1_explicit.shape)
print(df1_implicit.shape)
print(df1_nohate.shape)

(1089, 2)
(7100, 2)
(13291, 2)

/var/folders/q2/mpnsg4g1669g6p4sst00tyzm0000gn/T/ipykernel_39548/1808273461.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_nohate['class']='not_hate'

#### DS 2 hate vs offensive

In [172]:
df_hate_n_offensive = pd.read_csv('dataset/hate-speech-and-offensive-language/labeled_data.csv')
df_hate_n_offensive = df_hate_n_offensive[['tweet','class']]
df_hate_n_offensive.rename(columns={'tweet':'text'}, inplace=True)

df2_hate = df_hate_n_offensive[df_hate_n_offensive['class']==0]
df2_hate['class']='explicit_hate'
df2_offensive = df_hate_n_offensive[df_hate_n_offensive['class']==1]
df2_offensive['class'] = 'offensive'
df2_nohate = df_hate_n_offensive[df_hate_n_offensive['class']==2]
df2_nohate['class'] = 'not_hate'
print(df2_hate.shape)
print(df2_offensive.shape)
print(df2_nohate.shape)

(1430, 2)
(19190, 2)
(4163, 2)

/var/folders/q2/mpnsg4g1669g6p4sst00tyzm0000gn/T/ipykernel_39548/1980613549.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_hate['class']='explicit_hate'
/var/folders/q2/mpnsg4g1669g6p4sst00tyzm0000gn/T/ipykernel_39548/1980613549.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_offensive['class'] = 'offensive'
/var/folders/q2/mpnsg4g1669g6p4sst00tyzm0000gn/T/ipykernel_39548/1980613549.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_nohate['class'] = 'not_hate'

In [141]:
df2_nohate

                                                    text     class
0      !!! RT @mayasolovely: As a woman you shouldn't...  not_hate
40       " momma said no pussy cats inside my doghouse "  not_hate
63     "@Addicted2Guys: -SimplyAddictedToGuys http://...  not_hate
66     "@AllAboutManFeet: http://t.co/3gzUpfuMev" woo...  not_hate
67     "@Allyhaaaaa: Lemmie eat a Oreo &amp; do these...  not_hate
...                                                  ...       ...
24736  yaya ho.. cute avi tho RT @ViVaLa_Ari I had no...  not_hate
24737  yea so about @N_tel 's new friend.. all my fri...  not_hate
24767  you know what they say, the early bird gets th...  not_hate
24779  you've gone and broke the wrong heart baby, an...  not_hate
24782  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...  not_hate

[4163 rows x 2 columns]

#### DS 3 neutral

In [174]:
df_neutral = pd.read_csv('dataset/neutral-dataset/GabHateCorpus_annotations.tsv', delimiter='\t')

df_neutral_filtered = df_neutral.groupby(['ID'], as_index=False)[['Hate', 'HD','CV','VO']].mean() 
df_neutral_filtered['no_hate_at_all'] = df_neutral_filtered['Hate'] + df_neutral_filtered['HD'] + df_neutral_filtered['CV'] + df_neutral_filtered['VO'] 
df_neutral_filtered = df_neutral_filtered[df_neutral_filtered['no_hate_at_all']==0]

df_neutral_drop_dup = df_neutral.drop_duplicates(subset=['Text'], keep='first')
df_neutral = pd.merge(df_neutral_filtered, df_neutral_drop_dup, how='left', left_on='ID', right_on='ID')
df_neutral = df_neutral[['Text','no_hate_at_all']]
df_neutral['no_hate_at_all'] = 'not_hate'

df_neutral.rename(columns={'Text':'text','no_hate_at_all':'class'}, inplace=True)
df3_nohate = df_neutral
print(df_neutral.shape)
df_neutral.head()

(18612, 2)

                                                text     class
0                     Can't wait to see that Monday.  not_hate
1  If you are from #Europe and care about #freeSp...  not_hate
2  #FREESAMHYDE http://www.thegatewaypundit.com/2...  not_hate
3  JUST FOUND OUT BLACKS CONTROL THE GOVERNMENT, ...  not_hate
4  challenge: argue against any part of Kaczynski...  not_hate

#### COMBINING

In [179]:
import random
random.seed(1)

def list_of_random_index(df, num_samples):
    return random.sample(list(range(0,len(df))), num_samples)

# DS 1
df1_explicit_1070 = df1_explicit.iloc[list_of_random_index(df1_explicit, 1070)]
df1_implicit_2500 = df1_implicit.iloc[list_of_random_index(df1_implicit, 2500)]
df1_nohate_2500 = df1_nohate.iloc[list_of_random_index(df1_nohate, 2500)]

# DS 2
df2_hate_1430 = df2_hate
df2_offensive_2500 = df2_offensive.iloc[list_of_random_index(df2_offensive, 2500)]
df2_nohate_2500 = df2_nohate.iloc[list_of_random_index(df2_nohate, 2500)]

# DS 3
df3_nohate_2500 = df3_nohate.iloc[list_of_random_index(df3_nohate, 2500)]


# Combined explicit_hate & no_hate
df_explicit_combined_2500 = pd.concat([df1_explicit_1070, df2_hate_1430])
df_nohate_combined_7500 = pd.concat([df1_nohate_2500, df2_nohate_2500, df3_nohate_2500])

# Combined all for binary classification
df_combined_binary = pd.concat([df_explicit_combined_2500, df1_implicit_2500, df2_offensive_2500, df_nohate_combined_7500 ])

print('explicite_hate \t', df_explicit_combined_2500.shape)
print('implicit_hate \t', df1_implicit_2500.shape)
print('offensive \t', df2_offensive_2500.shape)
print('no_hate \t', df_nohate_combined_7500.shape)

print('combined dataset for binary classification \t', df_combined_binary.shape)

explicite_hate 	 (2500, 2)
implicit_hate 	 (2500, 2)
offensive 	 (2500, 2)
no_hate 	 (7500, 2)
combined dataset for binary classification 	 (15000, 2)

In [176]:
df_combined_binary['class'].value_counts()

not_hate         7500
explicit_hate    2500
implicit_hate    2500
offensive        2500
Name: class, dtype: int64

In [178]:
df_combined_binary.to_csv('exported/df_combined_binary.csv')

# Human Baseline Experiment Setup

In [201]:
import random
random.seed(1)

def list_of_random_index(df, num_samples):
    return random.sample(list(range(0,len(df))), num_samples)

# DS 1
df_survey_explicit_150 = df_explicit_combined_2500.iloc[list_of_random_index(df_explicit_combined_2500, 150)]
df_survey_implicit_150 = df1_implicit_2500.iloc[list_of_random_index(df1_implicit_2500, 150)]
df_survey_offensive_150 = df2_offensive_2500.iloc[list_of_random_index(df2_offensive_2500, 150)]
df_survey_nohate_450 = df_nohate_combined_7500.iloc[list_of_random_index(df_nohate_combined_7500, 450)]

# export the survey file
df_survey = pd.concat([df_survey_explicit_150, df_survey_implicit_150, df_survey_offensive_150, df_survey_nohate_450])
df_survey = pd.concat([df_survey, pd.get_dummies(df_survey['class'])], axis=1)

df_survey.to_csv('exported/df_survey.csv')

In [202]:
df_survey['class'].value_counts()

not_hate         450
explicit_hate    150
implicit_hate    150
offensive        150
Name: class, dtype: int64

In [214]:
# Shuffle before sending to the annotators

import random
random.seed(1)

def list_of_random_index(from_ ,to_):
    return random.sample(list(range(from_,to_)), (to_ - from_))

index_survey_shuffled= list_of_random_index(0,900)

df_survey_shuffled = df_survey.iloc[index_survey_shuffled,:]

df_survey_shuffled.to_csv('exported/df_survey_shuffled.csv')

In [215]:
df_survey_shuffled

,text,class,explicit_hate,implicit_hate,not_hate,offensive
1989,that's b / c us mass media controlled by jews...,explicit_hate,1,0,0,0
5306,radix journal alternativehypothesis make the ...,not_hate,0,0,1,0
15718,"RT @JStac825: There's coon classic (R. Kelly, ...",not_hate,0,0,1,0
13101,#Turkish president Erdogan warned that the wor...,not_hate,0,0,1,0
12542,http://actoneprogram.com Don't give up on Hol...,not_hate,0,0,1,0
...,...,...,...,...,...,...
2731,Please don't take selfies on bed when your pil...,not_hate,0,0,1,0
12906,Most niccas broke but always n the limelight,explicit_hate,1,0,0,0
18978,"RT @espn: When the Yanks and Sox get together,...",not_hate,0,0,1,0
11328,"Here is a quick and ""dirty"" marketing plan tha...",not_hate,0,0,1,0
11112,I won't say how many bitches I fucked but i mi...,offensive,0,0,0,1